<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jorotayo.algorubickrevamped">

    <application
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/algorubick_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/algorubick_launcher_icon"
        android:supportsRtl="true"
        android:exported="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jorotayo.algorubickrevamped.ui.timer.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.jorotayo.algorubickrevamped.SplashScreen"
            android:theme="@style/bgSplashScreenStyle"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jorotayo.algorubickrevamped.MainActivity"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jorotayo.algorubickrevamped.ui.home.Activity_Algorithm"
            android:parentActivityName="com.jorotayo.algorubickrevamped.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.jorotayo.algorubickrevamped.ui.solution_guide.SolutionActivity"
            android:parentActivityName="com.jorotayo.algorubickrevamped.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.jorotayo.algorubickrevamped.ui.home.Activity_StudyAlgorithm"
            android:parentActivityName="com.jorotayo.algorubickrevamped.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>
</manifest>